﻿
@{
    ViewBag.Title = "ConverSation";
    Layout = "~/Views/Shared/_LayoutMess.cshtml";
    var conversationId = ViewData["ConverSationID"];
}
<div class="card  direct-chat-primary" style="height:700px">
    <input hidden id="currentConverSation" value="@conversationId"/>

    <div class="card-body">
        <div class="messsage" id="message@(conversationId)">

        </div>
    </div>
</div>
<!-- /.card-body -->

    <div class="input-group">
        <input type="text" name="messagesend" data-id="@conversationId" placeholder="Type Message ..." id="inputmess" class="form-control">
        <span class="input-group-append">
            <button id="btnsend" type="button" data-id="@conversationId" class="btn-submit btn btn-primary">Gửi</button>
        </span>
    </div>

@section Scripts{

    <script>
        Message(@conversationId, 1, 20);
        postPageContentV2("#sidebar", '/Message/MessSideBar');
        
    </script>
    <script src="~/Theme/Asset/js/Deletemessage.js"></script>
}
