﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMess.cshtml";
}
<div class="card  direct-chat-primary" style="min-height:800px">
    <div class="messsage">

    </div>
    <div class=" direct-chat-contacts-open">

        <!-- /.card-header -->
        <div class="card-body">
      
                <div class="direct-chat-contacts" style="background-color:transparent;min-height:700px" id="contactsmobile">
                </div>
          
            <!-- Conversations are loaded here -->

            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            if ($(window).width() > 991) {
                postPageContentV2("#sidebar", '/Message/MessSideBar');
            } else {
                postPageContentV2("#contactsmobile", '/Message/MessSideBar');
            }
            $(window).resize(function () {
                if ($(window).width() > 991) {
                    postPageContentV2("#sidebar", '/Message/MessSideBar');
                    $('.direct-chat-contacts').html('');
                } else {
                    postPageContentV2("#contactsmobile", '/Message/MessSideBar');
                }
            });
        });

    </script>
}
