﻿@model IEnumerable<Core.Message.ConverSationResult>

@{
    ViewBag.Title = "MessSideBar";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    string CsName = "";
}

<div class="" style="">
    <ul class="contacts-list" style="padding-top:30px">
        <li class="messagebox">
            <a href="/ConverSation/Create">
                <span class="contacts-list-name">
                    <i class="fa-solid fa-plus"></i>
                    tạo cuộc trò chuyện mới
                </span>
            </a>
        </li>
        @foreach (var item in Model)
        {
            if (item.ConverSationName == "")
            {
                List<string> lastnamelist = new List<string>();
                foreach (var lastname in item.Users)
                {
                    lastnamelist.Add(lastname.UserLastName);
                }
                CsName = string.Join(" , ", lastnamelist);
            }
            else
            {
                CsName = item.ConverSationName;
            }
            <li class="messagebox">
                <a class="ml-2 btn-tool  dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                </a>
                <div class="dropdown-menu">
                    <a data-href="/DeleteMessage/GetDeleteConvesation/@item.Id" data-height="500" data-width="1000" class="popup-link dropdown-Model">Xóa</a>
                </div>
                <a href="/Message/GetConverSation/@item.Id" onclick="UpdateSeen(@item.Id)">
                    @if (item.ConverSationAvatar == "")
                    {
                        foreach (var name in item.Users.Take(1))
                        {
                            <img class="contacts-list-img" src="@name.Avartar" alt="User Avatar">
                        }
                    }
                    else
                    {
                        <img class="contacts-list-img" src="@item." alt="User Avatar">
                    }
                    <div class="contacts-list-info">
                        <span class="contacts-list-name" style="color:black">
                            @CsName
                        </span>
                        @{
                            string originalString = @item.LastMess;
                            string trimmedString = originalString.Length > 20 ? originalString.Substring(0, 20) : originalString;

                        }
                        @if (item.Seen == 0)
                        {
                            <span class="contacts-list-msg font-weight-bold" style="color:black">@trimmedString</span>
                        }
                        else
                        {
                            <span class="contacts-list-msg" style="color:black">@trimmedString</span>
                        }
                    </div>
                    <small class="contacts-list-date float-right" style="color:black">@item.TimeSpan</small>
                    <!-- /.contacts-list-info -->
                </a>
            </li>
        }
    </ul>
    <!-- /.contacts-list -->
</div>
