﻿@model Core.MessagerPaginationResult

@{
    var userid = 0;
    if (User.Identity.IsAuthenticated)
    {
        userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
    ViewBag.Title = "MesssageList";
    Layout = "~/Views/Shared/_LayoutPartialView.cshtml";
}
@{
    var dataCount = Model.Data.Count;
}

<div class="card card-primary card-outline direct-chat direct-chat-primary">
    <div class="card-header">
        <h3 class="card-title">@Model.Name</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                <i class="fas fa-comments"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages id@(Model.ConverSationID)" id="chat-container" style="height:600px ;overflow-x:hidden">
            @for (int i = dataCount - 1; i >= 0; i--)
            {
                var item = Model.Data[i];
                if (item.SenderId != userid)
                {

                    <div class="direct-chat-msg messre@(item.Id)" id="mess@(item.Id)user@(userid)">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">@item.UserLastName</span>
                            <span class="direct-chat-timestamp float-right">@item.TimeSpan</span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img class="direct-chat-img" src="@item.Avartar" alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text" id="content@(item.Id)">
                            @item.Content
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <div class="float-right" id="btn-mess@(item.Id)">
                        <a class="ml-2 btn-tool  dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a data-href="/DeleteMessage/GetDeleteMessageOnly/@item.Id" data-height="500" data-width="1000" class="popup-link dropdown-Model">Xóa phía bạn</a>
                        </div>
                    </div>
                }
                else
                {

                    <div class="direct-chat-msg right messre@(item.Id)">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">@item.UserLastName</span>
                            <span class="direct-chat-timestamp float-left">@item.TimeSpan</span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img class="direct-chat-img" src="@item.Avartar" alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text" id="content@(item.Id)">
                            @item.Content
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <div class="float-left" id="btn-mess@(item.Id)">
                        <a class="ml-2 btn-tool  dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a data-href="/DeleteMessage/GetDeleteMessageOnly/@item.Id" data-height="500" data-width="1000" class="popup-link dropdown-Model">Xóa phía bạn</a>
                            <a data-href="/DeleteMessage/GetDeleteMessage/@item.Id" data-height="500" data-width="1000" class="popup-link dropdown-Model">Xóa với mọi người</a>
                        </div>
                    </div>
                }
            }
        </div>
        <!--/.direct-chat-messages-->
        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts itemhide" id="contactsmobile">
                
            <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.card-body -->
    <!-- /.card-footer-->
</div>


@section scripts{
    <script>
        postPageContentV2("#contactsmobile", '/Message/ContactList');
    var chatContainer = document.getElementById('chat-container');
    chatContainer.scrollTop = chatContainer.scrollHeight;
    // Khởi tạo giá trị ban đầu của pagemess




    chatContainer.addEventListener('scroll', function () {
        // Nếu trình duyệt cuộn đến đầu trang của thẻ div
        if (chatContainer.scrollTop <= 100) {
            if (pagemess < @Model.PageCount) {
                // Tăng giá trị của pagemess lên 1
                pagemess++;
                // Gọi hàm để tải thêm dữ liệu message
                loadMoreMessages(pagemess);
            }
        }
    });

    function loadMoreMessages(page) {
        let datamesage = {
            Page: page,
            PageSize: 20,
            ConverSationId: '@Model.ConverSationID'
        };
        postPageContentV3(`#chat-container`, '/Message/MesssageListLoad', datamesage);
    }
    </script>
}

