﻿@model Core.Message.MessageInput

@{
    ViewBag.Title = "Tạo cuộc trò chuyện mới";
    Layout = "~/Views/Shared/_LayoutMess.cshtml";
    var userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
}

<div class=" direct-chat-contacts-open">

    <!-- /.card-header -->
    <div class="card-body">

        <div class="direct-chat-contacts" style="background-color:transparent;min-height:700px" id="contactsmobile">
        </div>

        <!-- Conversations are loaded here -->
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.card-body -->
    <!-- /.card-footer-->
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Thêm vào</label>
                <div class="col-md-9">

                    <select id="listuser" name="user" class="form-control chosen-select" data-placeholder="Đến...." multiple="">
                        @foreach (var item in clonemxh.Helper.SelectListHelper.FriendList(userid))
                        {
                            <option value="@item.UserId">@item.UserFirstName @item.UserLastName</option>
                        }
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button style="padding:0px 3px" onclick="CreatConverSation()" class="btn btn-outline-primary">Tạo mới</button>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            if ($(window).width() > 991) {
                postPageContentV2("#sidebar", '/Message/MessSideBar');
            } else {
                postPageContentV2("#contactsmobile", '/Message/MessSideBar');
            }
            $(window).resize(function () {
                if ($(window).width() > 991) {
                    postPageContentV2("#sidebar", '/Message/MessSideBar');
                    $('.direct-chat-contacts').html('');
                } else {
                    postPageContentV2("#contactsmobile", '/Message/MessSideBar');
                }

            });

        });
        function CreatConverSation() {
            let listuser = $("#listuser").val();
            if (listuser == null || listuser == '') {
                return;
            }
            let dataconversation = new FormData();
            dataconversation.append("user", listuser);
            let result = postData("/ConverSation/Store", dataconversation);
            if (result.Code === 1) {
                window.location.href = `/Message/GetConverSation/${result.Data}`;
            }
            else {
                console.log(result);
            }

        }
    </script>
}