﻿@model Core.SearchResult

@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserID = 0;
    if (User.Identity.IsAuthenticated)
    {
        UserID = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
}
<div class="container">
    @if (Model.Data.Count == 0)
    {
        <div class="card">
            <div class="card-header">
                <div class="user-panel ">
                    <div class="info">
                        <a class="d-block">Không có gì</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="user-panel ">

                    <div class="info">
                        <a class="d-block">Người dùng </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @foreach (var item in Model.Data)
                {
                    if (item.Type == "User")
                    {
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                <img src="@item.Avatar" class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <a href="/User/Index/@item.UserID" class="d-block">@item.UserFirstName @item.UserLastName</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        if (ViewBag.GroupID == 0)
        {
            <div class="card">
                <div class="card-header">
                    <div class="user-panel">

                        <div class="info">
                            <a class="d-block">Nhóm</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.Data)
                    {
                        if (item.Type == "Group")
                        {
                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <div class="image">
                                    <img src="@item.GroupPicture" class="img-circle elevation-2" alt="User Image">
                                </div>
                                <div class="info">
                                    <a href="/Group/Get/@item.GroupID" class="d-block">@item.GroupName</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        <div class="card">
            <div class="card-header">
                <div class="user-panel ">

                    <div class="info">
                        <a class="d-block">bài viết </a>
                    </div>
                </div>
            </div>

            <div id="post">
                @if (Model.Posts.Count > 0)
                {
                    foreach (var post in Model.Posts)
                    {
                        <div class="postedit@(post.PostID)">
                            <div class="card">
                                <div class="card-header">
                                    <div class="ml-2 btn-group float-right">
                                        @if (post.UserId == UserID || post.SuperAdmin == UserID || post.RoleID == 1)
                                        {


                                            <a class="ml-2 btn-tool  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                @if (post.UserId == UserID)
                                                {
                                                    <a data-href="/Post/Edit/@post.PostID" data-height="800" data-width="1000" id="btnEdit" data-id="@post.PostID" class="popup-link dropdown-post btnEdit">Chi tiết</a>
                                                }
                                                <a data-href="/Post/Delete/@post.PostID" data-height="500" data-width="1000" class="popup-link dropdown-post">Xóa Bài Viết</a>
                                            </div>
                                        }

                                    </div>
                                    @if (ViewBag.GroupID != post.GroupID)
                                    {
                                        if (post.GroupID != 0)
                                        {
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="@post.GroupPicture" alt="User Image">
                                                <span class="username">
                                                    <a href="/Group/Get/@post.GroupID">@post.GroupName</a>
                                                </span>
                                                <div class="user-block-inside">
                                                    <img class="img-circle img-bordered-sm" src="@post.Avartar" alt="User Image">
                                                    <span class="username">
                                                        <a href="/User/Index/@post.UserId">@post.UserFirstName @post.UserLastName</a>
                                                    </span>
                                                    <span class="text-muted ml-2 time">@post.TimeSpan</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="@post.Avartar" alt="User Image">
                                                <span class="username">
                                                    <a href="/User/Index/@post.UserId">@post.UserFirstName @post.UserLastName</a>
                                                </span>
                                                <span class="text-muted ml-2">@post.TimeSpan</span>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="@post.Avartar" alt="User Image">
                                            <span class="username">
                                                <a href="/User/Index/@post.UserId">@post.UserFirstName @post.UserLastName</a>
                                            </span>
                                            <span class="text-muted ml-2">@post.TimeSpan</span>
                                        </div>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="post">
                                        <div id="content-post@(post.PostID)">
                                            <p class="">@post.Content</p>
                                            <div class="row">
                                                @foreach (var img in post.Images)
                                                {
                                                    <div class="col-sm-3 imagelist@(img.ImageID)">
                                                        <img class="img-fluid card" style="height:200px;width:200px" src="@img.Url" alt="Photo">
                                                    </div>
                                                }
                                            </div>
                                            <p>
                                                @if (post.UserLiked.LikeID == 0)
                                                {
                                                    <a onclick='Like(@post.PostID,"like")' class="like@(post.PostID)   link-black text-sm"> <i class="far fa-thumbs-up mr-1"></i> Thích</a>
                                                    <a data-href="/Like/ListUserLiked/@post.PostID" data-height="800" data-width="200" class="popup-link   link-black text-sm"> @post.UsersLikePost</a>
                                                }
                                                else
                                                {
                                                    <a onclick='Like(@post.PostID,"unlike")' class="like@(post.PostID)    link-black text-sm"> <i class="far fa-thumbs-up mr-1"></i>Bỏ Thích</a>
                                                    <a data-href="/Like/ListUserLiked/@post.PostID" data-height="800" data-width="800" class="popup-link   link-black text-sm"> @post.UsersLikePost</a>
                                                }
                                                <span class="ml-2">
                                                    <a onclick="LoadComment(@post.PostID,0)" class="   link-black text-sm">
                                                        <i class="far fa-comments mr-1"></i>  Bình luận (@post.CommentCount)
                                                    </a>
                                                </span>

                                                <span class="ml-2">
                                                    <a onclick="AllComment(@post.PostID)" class="  float-right link-black text-sm">
                                                        <i class="far fa-comments mr-1"></i> Tất cả bình luận
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="card-comments" id="comment@(post.PostID)">
                                        </div>
                                        <div class="input-group input-group-sm mb-0">
                                            <input class="form-control form-control-sm focus@(post.PostID)" id="inputcomment" data-id="@post.PostID" data-parentid="0" type="text" placeholder="Viết bình luận">
                                            <div class="input-group-append">
                                                <button type="button" id="btnComment" data-id="@post.PostID" data-parentid="0" class="btn btn-danger">Bình luận</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        page = 2
        let datapost = {
        Page: page,
        PageSize: 3,
        GroupID:@ViewBag.GroupID,
        UserId: @UserID,
        postType:0,
        PrivacyMode: 2,
        SearchText: '@ViewBag.SearchText',
        }
        Layzyload(datapost);
    </script>
    }