﻿@{
    var groupid = ViewBag.GroupID;
    var postType = ViewBag.postType;
}

@if (User.Identity.IsAuthenticated)
{
    var user = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
    <div class="card" style=" height:193px;">
        <div class="card-header">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="@user.Avartar" alt="User Image">
                <span class="username">
                    <a href="/User/Index/@user.UserId">@user.UserFirstName @user.UserLastName</a>
                </span>
            </div>
        </div>
        <div class="card-body">

            <div class="post">
                <div class="row mb-3">
                    <input style="padding:20px 20px; border-radius:20px" class="form-control form-control-sm popup-link" placeholder="Bạn đang nghĩ gì ?" data-href="/Post/Add/@groupid/@postType" data-height="600" data-width="1000">
                </div>
            </div>
        </div>
    </div>
}

