﻿@model Core.UserPaginationResult
@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var userid = 0;
    if (User.Identity.IsAuthenticated)
    {
        userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Bordered Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Họ và tên @ViewBag.View</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model.ListFollow)
                {
                    {
                        i = i + 1;
                    }
                    <tr class="flrow@(item.UserId)">

                        <td>@i</td>
                        <td><a href="/User/Index/@item.UserId"><img class="img-circle img-bordered-sm" style="width: 30px; height:30px" src="@item.Avartar" /> @item.UserFirstName @item.UserLastName</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            @for (var count = 1; count <= Model.PageCount; count++)
            {
                <li class="page-item"><a class="page-link popup-link" data-width="1000" data-href="/Follow/ListFollower/@count/3/@userid">@count</a> </li>
            }
        </ul>
    </div>
    @section dialogFooter {
        <div class="row">
            <div class="col-md-5">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
    }
</div>