﻿@model Core.PostPaginationResult
@{
    Layout = "~/Views/Shared/_LayoutPartialView.cshtml";
    var userid = 0;
    if (User.Identity.IsAuthenticated)
    {
        userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
}
@if (Model.ListPost.Count() == 0)
{
    <p>Không có bài viết nào</p>
}
else
{
    <input hidden  value="@Model.PageCount" id="PageCount">
    foreach (var item in Model.ListPost)
    {
        <div class="postedit@(item.PostID)">
            <div class="card">
                <div class="card-header">
                    <div class="ml-2 btn-group float-right">
                        @if (item.UserId == userid || item.SuperAdmin == userid || item.RoleID == 1)
                        {


                            <a class="ml-2 btn-tool  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>
                            </a>
                            <div class="dropdown-menu">
                                @if (item.UserId == userid)
                                {
                                    <a data-href="/Post/Edit/@item.PostID" data-height="800" data-width="1000" id="btnEdit" data-id="@item.PostID" class="popup-link dropdown-Model btnEdit">Chỉnh sửa</a>
                                }
                                <a data-href="/Post/Delete/@item.PostID" data-height="500" data-width="1000" class="popup-link dropdown-Model">Xóa Bài Viết</a>
                            </div>
                        }

                    </div>
                    @if (ViewBag.GroupID != item.GroupID)
                    {
                        if (item.GroupID != 0)
                        {
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="@item.GroupPicture" alt="User Image">
                                <span class="username">
                                    <a href="/Group/Get/@item.GroupID">@item.GroupName</a>
                                </span>
                                <div class="user-block-inside">
                                    <img class="img-circle img-bordered-sm" src="@item.Avartar" alt="User Image">
                                    <span class="username">
                                        <a href="/User/Index/@item.UserId">@item.UserFirstName @item.UserLastName</a>
                                    </span>
                                    <span class="text-muted ml-2 time">@item.TimeSpan</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="@item.Avartar" alt="User Image">
                                <span class="username">
                                    <a href="/User/Index/@item.UserId">@item.UserFirstName @item.UserLastName</a>
                                </span>
                                <span class="text-muted ml-2">@item.TimeSpan</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="@item.Avartar" alt="User Image">
                            <span class="username">
                                <a href="/User/Index/@item.UserId">@item.UserFirstName @item.UserLastName</a>
                            </span>
                            <span class="text-muted ml-2">@item.TimeSpan</span>
                        </div>
                    }

                </div>
                <div class="card-body">
                    <div class="post">
                        <div id="content-post@(item.PostID)">
                            <p class="">@item.Content</p>
                            <div class="row">
                                @foreach (var img in item.Images)
                                {
                                    <div class="col-sm-3 imagelist@(img.ImageID)">
                                        <img class="img-fluid card" style="height:200px;width:200px" src="@img.Url" alt="Photo">
                                    </div>
                                }
                            </div>
                            <p>
                                @if (item.UserLiked.LikeID == 0)
                                {
                                    <a onclick='Like(@item.PostID, "like")' class="like@(item.PostID)   link-black text-sm"> <i class="far fa-thumbs-up mr-1"></i> Thích</a>
                                    <a data-href="/Like/ListUserLiked/@item.PostID" data-height="800" data-width="800" class="popup-link   link-black text-sm"> @item.UsersLikePost</a>
                                }
                                else
                                {
                                    <a onclick='Like(@item.PostID,"unlike")' class="like@(item.PostID)    link-black text-sm"> <i class="far fa-thumbs-up mr-1"></i>Bỏ Thích</a>
                                    <a data-href="/Like/ListUserLiked/@item.PostID" data-height="800" data-width="800" class="popup-link   link-black text-sm"> @item.UsersLikePost</a>
                                }
                                <span class="ml-2">
                                    <a onclick="LoadComment(@item.PostID,0)" class="   link-black text-sm">
                                        <i class="far fa-comments mr-1"></i>  Bình luận (@item.CommentCount)
                                    </a>
                                </span>

                                <span class="ml-2">
                                    <a onclick="AllComment(@item.PostID)" class="  float-right link-black text-sm">
                                        <i class="far fa-comments mr-1"></i> Tất cả bình luận
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="card-comments" id="comment@(item.PostID)">
                        </div>
                        <div class="input-group input-group-sm mb-0">
                            <input class="form-control form-control-sm focus@(item.PostID)" id="inputcomment" data-id="@item.PostID" data-parentid="0" type="text" placeholder="Viết bình luận">
                            <div class="input-group-append">
                                <button type="button" id="btnComment" data-id="@item.PostID" data-parentid="0" class="btn btn-outline-primary"><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
