﻿
<script src="~/Theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->

<script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Theme/dist/js/adminlte.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs"></script>


<script src="~/Theme/Asset/chosen/chosenjs/chosen.jquery.js" type="text/javascript"></script>
<script src="~/Theme/Asset/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Theme/Asset/chosen/docsupport/init.js" type="text/javascript" charset="utf-8"></script>



<script src="~/Theme/Asset/js/base.js"></script>
<script src="~/Theme/Asset/js/All.js"></script>

<script>


    getPageContentV2("#noticount", "/Notification/Count");
    $(document).ready(function () {
        // Attach click event handler to elements with class 'notification' inside 'body'
        $('body').on('click', '.dropdown', function () {

            // Define the pageNotification variable with an initial value of 1
            let pageNotification = 1;
            let datanotification = {
                Page: pageNotification,
                PageSize: StaticPageSize
            }
            // Call the lazyloadNotification function with the pageNotification variable
            LayzyloadNotification(datanotification);

        });
    })
</script>

