﻿@{
    Layout = null;
}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <a class="nav-link" href="/"><i class="fa-brands fa-facebook" alt="Trang chủ"></i></a>
    <form class="form-inline my-2 my-lg-0" style="flex-flow:nowrap" method="get" action="/Search/Search">
        @if (ViewBag.SearchText != null)
        {
            <input class="form-control " value="@ViewBag.SearchText" name="SearchText" type="search" placeholder="Tìm kiếm" aria-label="tìm kiếm">
        }
        else
        {
            <input class="form-control " name="SearchText" type="search" placeholder="Tìm kiếm" aria-label="tìm kiếm">
        }

        @if (ViewBag.GroupID != 0 || ViewBag.GroupID != null)
        {
            <input hidden class="form-control " name="groupid" value="@ViewBag.GroupID">
        }
        else
        {
            <input hidden class="form-control " name="groupid" value="0">
        }
        <button class="btn btn-outline-success ml-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto justify-content-center flex-grow-1">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a class="nav-link" href="/User/"><i class="fa-solid fa-user"></i></a></li>
            }
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <div id="noticount">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right notification-container" id="notification" style="min-width:500px;">
                    <div class="card-footer card-comments dropdown-item">
                        <div class="card-comment">
                            <style>
                                .btn-all-noti {
                                    font-size: 12px;
                                    outline: none;
                                    border: none;
                                }
                            </style>
                            <div class="row">

                                <button style="font-size:12px" onclick="Update_All_Notification()" class=" col-md-6 btn btn-outline-primary float-right btn-all-noti">Đánh dấu tất cả đã đọc</button>
                                <a style="font-size:12px" href="/Notification/ViewAll/1/8" class="col-md-6  btn btn-outline-primary float-left btn-all-noti">Xem tất cả</a>
                            </div>

                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.card-comment -->
                </div>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item itemhide"><a class="nav-link" href="/Message/Index"> <i class="nav-icon far fa-message"></i></a></li>
                <li class="nav-item itemhide"><a class="nav-link" href="/Group/Index"><i class="nav-icon far fa-solid fa-user-group"></i> Nhóm</a></li>
                <li class="nav-item itemhide"><a class="nav-link" href="/Group/Create"><i class="fa fa-plus" aria-hidden="true"></i><i class="nav-icon far fa-solid fa-user-group"></i> Tạo nhóm</a></li>
                <li class="nav-item itemhide"><a class="nav-link" href="/Group/GroupJoined"><i class="fa fa-plus" aria-hidden="true"></i><i class="nav-icon far fa-solid fa-user-group"></i> Nhóm đã tham gia</a></li>
                <li><a class="nav-link" href="/User/Logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            }
        </ul>

    </div>

</nav>