﻿<!DOCTYPE html>
<html>
@{ Html.RenderPartial("_headercss"); }
<body>
    @{ Html.RenderPartial("_Header");

    }
    @if (User.Identity.IsAuthenticated)
    {
        var userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
    }
    <div class="row">
        <div class="col-md-2" id="sidebar-col" style="border-right:groove">
            <div class="sidebar" style="overflow-y:hidden;width:300px" id="sidebar">
                <!-- Sidebar content goes here -->
            </div>
        </div>

        <div class="col-md-10" style="margin-top:70px">
            @RenderBody()
            <div id="loading"></div>
        </div>
    </div>

    <div id="dialogMain" class="modal fade" data-backdrop="static" role="dialog" tabindex="-1" style="padding-top: 15px;"></div>

    @{ Html.RenderPartial("_footerjs"); }
    @RenderSection("scripts", required: false)
    <script>
        triggerPopupLink();
    </script>
</body>
</html>
