﻿@if (User.Identity.IsAuthenticated)
{
    var userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
    <div class="sidebar" id="sidebar@(userid.UserId)" style="margin-top:70px">

        @RenderBody()

    </div>
}
else
{
    <div class="sidebar" style="margin-top:70px">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="/User/Login" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Đăng nhập
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/User/Register" class="nav-link">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>
                            Đăng ký
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}


