﻿<!DOCTYPE html>
<html>
@{ Html.RenderPartial("_headercss"); }
<body>
    @{ Html.RenderPartial("_Header"); }


    @if (User.Identity.IsAuthenticated)
    {
        @RenderBody()

        var userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
        <input hidden value="@userid.UserId" id="useridlogin" />
        <div id="dialogMain" class="modal fade" data-backdrop="static" role="dialog" tabindex="-1" style="padding-top: 15px; padding-right: 508px "></div>
    }


    <!-- AdminLTE App -->
    @{ Html.RenderPartial("_footerjs"); }
    @RenderSection("scripts", required: false)
    <script>
        triggerPopupLink();
    </script>
</body>
</html>
