﻿div.profileblockprofile {
    position: relative;

}
div.groupwall {
    position: relative;
    bottom: 236px;
}
div.profilenameblock {
    position: relative;
    text-shadow: black;
    bottom: -100px;
    color: black;
}
img.imageprofile {
    height: 200px;
    width: 200px;
}
div.profileButton {
    position: relative;
    top: 100px;
    left :45px;
}
.bgimg {
    height: 600px;
    background-repeat: no-repeat;
    background-size: 1125px 500px;
    box-shadow: unset
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-Model {
    padding: 1px 13px;
    text-decoration: none;
    display: block;
    color: black;
}
.dropdown-Model:hover {
    background-color: #f1f1f1;
}
.deleteimage {
    position: relative;
    left: 111px;
    top: 39px;
    z-index: 100;
}

a{
    color:#333;
    cursor:pointer;
}
.side-bar-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    
}
#sidebar, #friendlist {
    position: fixed; /* Cố định hai cột ở bên trái và bên phải */
    height: 100%; /* Chiều cao của cột là 100% của cửa sổ trình duyệt */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung dài hơn kích thước của cột */
}
#friendlist {
width:300px;
overflow-y:hidden;
}
/*.side-bar-status:hover{
    background-color:transparent;
}
.sidebar {
    height: 150%;
    position: fixed;
    min-width:250px;
}
*/
/*Bài viết của nhóm khi hiển thị ở nơi khác*/
.user-block-inside img{
    float:left;
    height:30px;
    width:30px;
}
.user-block-inside .username {
    font-size: 15px;
    font-weight: 600;
    margin-top: 4px
}
.time {
    padding: 8px 14px;
    font-size: 13px;
}
.user-block-inside {
    padding: 6px 30px;
}
/*Search*/
.search{
position:absolute;
left:433px;
}


.notification-container {
    max-height: 300px; /* Set the maximum height for the container */
    overflow-y: scroll; /* Enable vertical scrolling if content exceeds the container height */
    border: 1px solid #ccc; /* Optional: Add border for a visual indication */
    padding: 10px; /* Optional: Add padding for better appearance */
    width: 1000px;
}
.messagebox {
    border: solid;
    border-radius: 20px;
    margin-top: 20px;
    padding:25px 25px;
}
.itemhide{
    display:none;
}
/*Điều chỉnh Navbar*/
@media (max-width: 991px) {
    .navbar-nav.mr-auto.justify-content-center.flex-grow-1 {
        justify-content: flex-start !important;
    }
    .navbar-nav {
        margin-left: 20px;
    }
    #noticount {
        position: absolute;
        top: 0px;
        left: 30px;
    }
    .itemhide {
        display: block;
    }
    #sidebar{
        display:none;   
    }
    #friendlist {
        display: none;
    }
}