﻿@model Core.UserEx

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var useid = 0;
    if (User.Identity.IsAuthenticated)
    {
        useid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
}
@if (Model.UserId != 0)
{
    <div class="container">
        <div class="card card-">
            <section class="content">
                <div class="row">
                    <div class="col-md-12 wallpaper ">
                        <!--Ảnh bìa-->
                        <div class="card bgimg" id="wall" style="background-image:url(@Model.WallPaper);">
                            @if (Model.UserId == useid)
                            {
                                <div class="col-md-4 float-right ">
                                    <a class="btn btn-outline-primary  popup-link" style="position:relative; top:70px" data-href="/User/EditWallPaper/@Model.UserId" data-width="1125" data-height="600">Chỉnh sửa ảnh bìa</a>
                                </div>
                            }
                            <div class="card-body box-profile">
                                @{
                                    var bottom = "-408px";
                                    if (Model.UserId == useid)
                                    {
                                        bottom = "-197px";
                                    }
                                }
                                <div class="row profileblockprofile" style="bottom:@bottom">
                                    <div class="col-md-3">
                                        <!--Ảnh đại diện-->
                                        <div class="text-center">
                                            @if (Model.UserId == useid)
                                            {
                                                <a class="popup-link" data-href="/User/EditAva/@Model.UserId" data-width="500" data-height="500">
                                                    <img class="profile-user-img  imageprofile img-circle"
                                                         src="@Model.Avartar"
                                                         alt="User profile picture">
                                                </a>
                                            }
                                            else
                                            {
                                                <img class="profile-user-img  imageprofile img-circle"
                                                     src="@Model.Avartar"
                                                     alt="User profile picture">
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <!--Họ và tên-->
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="profilenameblock">
                                                    <h1 class="text-dark profileName">@Model.UserFirstName  @Model.UserLastName</h1>
                                                    <p>@Model.Friendcount Bạn bè</p>
                                                </div>
                                            </div>
                                            @if (Model.UserId == useid)
                                            {
                                                <input hidden id="PrivacymodeLoad" value="0" />
                                                <div class="col-md-4 profileButton">
                                                    <a class="btn btn-primary btn-block popup-link" style="position: relative; right: 69px; top: 28px;" data-width="1000" data-height="800" data-href="/User/Edit">Chỉnh sửa thông tin cá nhân</a>
                                                </div>
                                            }
                                            else
                                            {
                                                <input hidden id="PrivacymodeLoad" value="1" />

                                                @Html.Partial("/Views/User/Friend/Relationship.cshtml");
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row" style="margin-top:30px"    >
            <div class="col-md-4">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <h3 class="profile-username text-center">@Model.UserFirstName @Model.UserLastName</h3>
                        <ul class="list-group list-group-unbordered mb-3" style="list-style:none">
                            <li class="list-group-item">
                                <b>Followers</b><a class="float-right popup-link" data-width="1000" data-href="/Follow/ListFollower/1/3/@Model.UserId">@Model.FollowerCount</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="float-right popup-link" data-width="1000" data-href="/Follow/ListFollow/1/3/@Model.UserId">@Model.FollowCount</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b><a class="float-right popup-link" data-width="1000" data-href="/Friend/FriendList/1/3/@Model.UserId">@Model.Friendcount</a>
                            </li>
                            @if (Model.UserId == useid)
                            {
                                <li class="list-group-item">
                                    <b>Block</b><a class="float-right popup-link" data-width="1000" data-href="/Block/BlockList/1/3/@Model.UserId">@Model.BlockedCount</a>
                                </li>
                            }

                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin cá nhân</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Trình độ học vấn</strong>
                        <p class="text-muted">
                            @Model.Education
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Địa chỉ</strong>
                        <p class="text-muted">@Model.Location</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Kỹ năng</strong>
                        <p class="text-muted">
                            @Model.Skill
                        </p>
                        <hr>
                        <strong><i class="far fa-file-alt mr-1"></i> Ghi chú</strong>
                        <p class="text-muted">@Model.Note</p>
                        <strong><i class="far fa-file-alt mr-1"></i> Phone</strong>
                        <p class="text-muted">@Model.Phone</p>
                        <strong><i class="far fa-file-alt mr-1"></i> Email</strong>
                        <p class="text-muted">@Model.Email</p>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-8">
                @if (Model.UserId == useid)
                {
                    @Html.Partial("~/Views/Post/PartialView/AddPost.cshtml")
                }
                <div id="post"></div>
            </div>
        </div>
    </div>
}
else
            {
                <p>Người dùng không có thật</p>
            }

@section Scripts{
    <script>
        page = 1;
        let datapostprofile = {
        Page: page,
        PageSize: 10,
        UserId: @Model.UserId,
        postType:@Core.PostType.ProfilePost,
        PrivacyMode: 0
    }
        Layzyload(datapostprofile);
    </script>

}

