﻿@model Core.UserEntity
@{
    Layout = null;
    var actionResult = ViewData["ActionResult"] as clonemxh.Helper.ApiResult;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Đăng ký</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/User/Register" class="h1">Đăng ký</a>
            </div>
            <div class="card-body">
                <div class="mb-3 mt-3">
                    @if (actionResult != null && actionResult.Code == 0 && !string.IsNullOrEmpty(actionResult.Msg))
                    {
                        <p class="login-box-msg p-0 bg-danger">@actionResult.Msg</p>
                    }
                    else
                    {
                        if (actionResult != null && actionResult.Code == 1 && !string.IsNullOrEmpty(actionResult.Msg))
                        {
                            <p class="login-box-msg p-0 bg-success">@actionResult.Msg </p>
                        }

                    }
                    @if (actionResult == null)
                    {
                        <p class="login-box-msg p-0">Đăng ký</p>
                    }
                </div>

                <form action="/User/Register" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input type="text" value="@Model.UserFirstName" name="UserFirstName" class="form-control " placeholder="Họ tên đệm" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" value="@Model.UserLastName" name="UserLastName" class="form-control " placeholder="Tên" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" value="@Model.Email" name="Email" class="form-control " placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" value="@Model.Password" name="Password" class="form-control " placeholder="Mật khẩu" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    <div class="input-group mb-3">
                        <input type="password" value="@Model.RePass" name="RePass" class="form-control " placeholder="Nhập lại mật khẩu" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" value="@Model.Phone" name="Phone" class="form-control " placeholder="Số điện thoại" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group  m-lg-2 mb-3 mr-2">
                        <label>Ngày sinh</label>
                    </div>
                    <div class="input-group mb-3">
                        @{
                            var bithday = Model.BirthDay.ToString("yyyy-MM-dd HH:mm:ss.fff");
                        }
                        <input type="date" id="birthDay" placeholder="Ngày sinh" value="@bithday" name="BirthDay" class="form-control" maxlength="8" />
                        <span class="text-danger"> <!-- Hiển thị thông báo lỗi ở đây (nếu cần) --> </span>
                    </div>
                    <div class="input-group  m-lg-2 mb-3 mr-2">
                        <label>Giới tính</label>
                    </div>

                    <div class="row mb-3 m-lg-2 mr-2">
                        <div class="form-check col-sm-4">
                            <input class="form-check-input" type="radio" name="Sex" id="1" value="1">
                            <label class="form-check-label" for="1">
                                Nam
                            </label>
                        </div>
                        <div class="form-check col-sm-4">
                            <input class="form-check-input " type="radio" name="Sex" id="0" value="0">
                            <label class="form-check-label" for="0">
                                Nữ
                            </label>
                        </div>
                        <div class="form-check col-sm-4">
                            <input class="form-check-input " type="radio" name="Sex" id="3" value="3">
                            <label for="3" class="form-check-label">
                                Khác
                            </label>
                        </div>
                    </div>

                    <div class="row ">
                        <!-- /.col -->
                        <button type="submit" id="submitButton" class="btn btn-block btn-danger ml-2 mr-2">Đăng ký</button>
                        <!-- /.col -->
                    </div>

                </form>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="/LoginFaceBook/LoginFaceBook" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Đăng nhập với Facebook
                    </a>
                    <a href="/LoginGoogle/LoginGoogle" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Đăng nhập với Google+
                    </a>
                </div>

                <a href="/User/Login">
                   Trang đăng nhập
                </a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>
 <script>

 </script>
</body>
</html>

