﻿@model Core.UserEx
@{
    var useid = 0;
    if (User.Identity.IsAuthenticated)
    {
        useid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }

}
@if (Model.FriendCheck.FriendID == 0)
{
    <div class="col-md-2 profileButton">
        <button onclick='manageRelationShip(@Model.UserId,"add")' class="repfrbtn@(Model.UserId) btn btn-primary">Thêm Bạn Bè</button>
    </div>
}
else
{
    if (Model.FriendCheck.FriendID != 0)
    {
        // kiểm tra người đăng nhập là người gửi yêu cầu kết bạn hay ngược lại.
        if (Model.FriendCheck.UserID1 == useid)
        {
            if (Model.FriendCheck.Status == 0)// Chưa phải là bạn bè
            {
                <div class="col-md-2 profileButton">
                    <button onclick='manageRelationShip(@Model.UserId,"unfriend")' style="position:relative; left:62px" class="repfrbtn@(Model.UserId) btn btn-primary">Hủy</button>
                </div>
            }
            if (Model.FriendCheck.Status == 1)// Đã là Bạn bè
            {
                <div class="col-md-2 profileButton">
                    <button onclick='manageRelationShip(@Model.UserId,"unfriend")' class="repfrbtn@(Model.UserId) btn btn-primary ">Hủy Kết Bạn</button>
                </div>
            }
        }
        else // nếu người gửi yêu cầu kết bạn không phải là người đăng nhập
        {
            if (Model.FriendCheck.UserID2 == useid)
            {
                if (Model.FriendCheck.Status == 0)// Chưa phải là bạn bè
                {
                    <div class="col-md-2 profileButton">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle repfrbtn@(Model.UserId)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trả lời
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button onclick='manageRelationShip(@Model.UserId,"accept")' class=" dropdown-item btn btn-primary">Đồng ý</button>
                                <button onclick='manageRelationShip(@Model.UserId,"unfriend")' class="dropdown-item btn btn-primary">Hủy</button>
                            </div>
                        </div>
                    </div>

                }
                if (Model.FriendCheck.Status == 1)// Đã là bạn bè thì hủy
                {
                    <div class="col-md-2 profileButton">

                        <button onclick='manageRelationShip(@Model.UserId,"unfriend")' class="repfrbtn@(Model.UserId) btn btn-primary">Hủy Kết Bạn</button>
                    </div>
                }
            }
        }
    }
}
<div class="dropdown profileButton">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        ...
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
        @if (Model.Follow.FollowId == 0)
        {
            <div class="pt-3">
                <button onclick='manageRelationShip(@Model.UserId,"addfollow")' class="flmanager@(Model.UserId) btn btn-primary">Theo dõi</button>
            </div>
        }
        else
        {
            <div class="pt-3">
                <button onclick='manageRelationShip(@Model.UserId,"unfollow")' class="flmanager@(Model.UserId) btn btn-primary">Bỏ theo dõi</button>
            </div>
        }

        @if (Model.Block.BlockID == 0)
        {
            <div class="pt-3">
                <a style="min-width:85px" data-href="/Block/BlockNotification/@Model.UserId" data-width="500" class="popup-link btnblock@(Model.UserId) btn btn-danger">Chặn</a>
            </div>
        }
    </div>

</div>





