﻿@model Core.GroupEx
@{
    var content = ViewData["Content"];
    var button = ViewData["ButtonContent"];
    var SuperAdmin = ViewData["SuperAdmin"];
    ViewBag.Title = content;

    Layout = "~/Views/Shared/_LayoutModal.cshtml";

}


<h2>@content</h2>

@section dialogFooter {
    <div class="row" style="width:500px">
        @if (ViewBag.userid != ViewBag.superadmin)
        {
            <div class="col-md-5">
                <button type="button" onclick='GroupAction(@ViewBag.userid,@ViewBag.id,2 ,"Delete")' class="btn btn-warning">@button</button>
            </div>
        }

        <div class="col-md-5">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Hủy</button>
        </div>
    </div>
}