﻿
@{
    ViewBag.Title = "Danh sách thành viên trong nhóm";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var groupid = ViewData["GroupID"];
}



        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <button onclick="CallList(2,@groupid)" class="btn btn-outline-dark">Thành viên đã tham gia  </button>
                    </div>
                    <div class="col-md-6">
                        <button onclick="CallList(1,@groupid)" class="btn btn-outline-dark">Yêu cầu tham gia</button>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- /.card-header -->
    <div class="card-body p-0" id="calllist" style="height: 300px;">

    </div>
    @section dialogFooter {
        <div class="row">
            <div class="col-md-5">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    }
    <!-- /.card-body -->

<script>
    //IIFE
    //Immediately Invoked Function Expression
        (function () {
            let data = {
                Page: 1,
                PageSize: 3,
                Status: 0,
                GroupID: @groupid
            , }
            postPageContentV2('#calllist', '/UserInGroup/ListUserInGroup/', data);
        })();
</script>
