﻿@model Core.UserInGroupPaginationResult

@{
    Layout = "~/Views/Shared/_LayoutPartialView.cshtml";
    var check = ViewData["UserInGroupCheck"] as Core.UserInGroup;
}
<table class="table table-head-fixed text-nowrap" style="margin-top:20px">
    <thead>
        <tr>
            <th>STT</th>
            <th>Người dùng</th>
            <th>Vai trò</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@i</td>
                <td>@item.UserFirstName @item.UserLastName</td>
                <td>
                    @if (check.RoleID == 1 && item.Status == 2)
                    {
                        if (item.UserId != item.SupperAdmin)
                        {
                            <select style="width: 150px;" class="form-control Role" data-groupid="@item.GroupID" data-id="@item.UserId" data-useringroupid="@item.UserInGroupId">
                                <option value="1" @(item.RoleID == 1 ? "selected" : "")>Quản Trị viên</option>
                                <option value="2" @(item.RoleID == 2 ? "selected" : "")>Người viết bài</option>
                                <option value="3" @(item.RoleID == 3 ? "selected" : "")>Thành viên</option>
                            </select>
                        }
                    }
                    else
                    {
                        if (item.Status == 1)
                        {
                            <p>Thành viên chưa chính thức</p>
                        }
                        else
                        if (item.RoleID == 1)
                        {
                            <p>Quản trị viên</p>
                        }
                        else
                        if (item.RoleID == 2)
                        {
                            <p>Người viết bài</p>
                        }
                        else
                        if (item.RoleID == 3)
                        {
                            <p>Thành viên</p>
                        }
                    }
                </td>
                <td id="useringroup@(item.UserId)">
                    @if (item.UserId != item.SupperAdmin)
                    {
                        if (check.RoleID == 1)
                        {
                            if (item.Status == Data.StatusGroup.IsRequest)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Trả lời
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="btn btn-outline-primary" onclick='UpdateUserInGroup(@item.UserInGroupId,@item.RoleID,@item.UserId,@item.GroupID,2)'>Chấp nhận</button>
                                        <a href="/UserInGroup/Kick/@item.GroupID/@item.UserId" data-height="300" data-width="400" class="popup-link btn  btn-outline-warning">Xóa</a>
                                    </div>
                                </div>
                            }
                            else if (check.UserId == item.UserId)
                            {
                                <a href="/UserInGroup/LeftOut/@item.GroupID/@item.UserId/@item.SupperAdmin" data-height="300" data-width="400" class="popup-link btn  btn-outline-danger">Rời khỏi</a>
                            }
                            else
                            {
                                <a href="/UserInGroup/Kick/@item.GroupID/@item.UserId" data-height="300" data-width="400" class="popup-link btn  btn-outline-warning">Xóa</a>
                            }
                        }
                        else if (item.UserId == check.UserId && item.RoleID != 1)
                        {
                            <a href="/UserInGroup/LeftOut/@item.GroupID/@item.UserId/@item.SupperAdmin" data-height="300" data-width="400" class="popup-link btn  btn-outline-danger">Rời khỏi</a>
                        }

                    }

                </td>
                <td>
                    @if (check.UserId == item.SupperAdmin)
                    {
                        if (item.UserId != item.SupperAdmin && item.Status == Data.StatusGroup.IsUserInGroup)
                        {
                            <button onclick='UpdateSuperAdmin(@item.UserId, @item.GroupID)' class="btn btn-outline-dark">Cập nhật quản trị viên</button>
                        }
                    }
                </td>
            </tr>
            i = i + 1;
        }
    </tbody>

</table>

<script>
    $(".Role").on("change", function () {
        console.log("Thanh đổi")
        // Lấy giá trị của select box đã thay đổi
        var roleid = $(this).val();

        // Lấy giá trị của thuộc tính data-id
        var userid = $(this).data("id");
        var groupid = $(this).data("groupid");
        var status = 2;
        var id = $(this).data("useringroupid");
        console.log(roleid);
        // Hiển thị thông báo
        UpdateUserInGroup(id, roleid, userid, groupid, status);
    });
</script>
