﻿@model Core.GroupMXH
@{
    ViewBag.Title = "Nhóm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var actionresult = ViewData["ActionResult"] as clonemxh.Helper.ApiResult;
}
<div class="row">
    <div class="col-md-2">
        <div id="sidebar">

        </div>
    </div>
    <div class="col-md-8">
        <div class="container">
            <div class="card card-">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12 wallpaper" style="height:633px">
                            <div class="card bgimg" id="image_group_wall_showimage" style="background-image:url('/Theme/Asset/Wall/anh-bia-facebook-dep-131.jpg');">
                            </div>
                            <div class="card-body box-profile">
                                <div class="row groupwall">
                                    <!--Họ và tên-->
                                    <div class="profilenameblock">
                                        <h1 id="GroupName" class="text-dark ">Tên nhóm</h1>
                                        <p id="pri">Nhóm công khai</p>
                                        <p id="description">Bất kỳ ai cũng có thể vào nhóm , đăng bài và tương tác với các bài viết bên trong nhóm </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            @{
                if (actionresult != null && actionresult.Code == 1 && !string.IsNullOrEmpty(actionresult.Msg))
                {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@actionresult.Msg</strong>
                    </div>
                }
                else if (actionresult != null && actionresult.Code == 0 && !string.IsNullOrEmpty(actionresult.Msg))
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@actionresult.Msg</strong>
                    </div>
                }
            }
        </div>
        
    </div>
</div>
@section Scripts
{

    <script>
        postPageContentV2("#sidebar", '/Group/SideBarGroupAdd');

    </script>
}

