﻿@model Core.GroupMXH

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    var actionresult = ViewData["ActionResult"] as clonemxh.Helper.ApiResult;
}
<div class="container" style="margin-top:100px">
    <form action="/Group/Create" method="post" enctype="multipart/form-data">

        <input name="GroupName" id="groupnameinput" class="form-control form-control-sidebar" type="text" placeholder="Tên Nhóm">
        <div class="mb-2 mt-2 nav-header">
            <label>Quyền Riêng Tư</label>
        </div>
        <div class="mb-2 nav-item">
            <select name="PrivacyMode" id="privacymodeSelect" class="form-control-sidebar custom-select form-control-border">
                <option value="2">Công Khai</option>
                <option value="0">Riêng Tư</option>

            </select>
        </div>
        <div class="mb-2 mt-2 nav-header">
            <label>Ảnh bìa</label>
        </div>
        <div class="mb-2 nav-item">
            <input type="file" id="upload_wall_group_image" name="wall" />
        </div>
        <div class="mb-2 nav-header"><button class="btn-submit btn btn-dark"> <i class="nav-icon fas fa-plus"></i> Tạo Nhóm</button></div>
    </form>
</div>

<div class="row">
    <div class="col-md-2">
        <div id="sidebar">

        </div>
    </div>
    <div class="col-md-8">
        <div class="container">
            <div class="card card-">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12 wallpaper" style="height:633px">
                            <div class="card bgimg" id="image_group_wall_showimage" style="background-image:url('/Theme/Asset/Wall/anh-bia-facebook-dep-131.jpg');">
                            </div>
                            <div class="card-body box-profile">
                                <div class="row groupwall">
                                    <!--Họ và tên-->
                                    <div class="profilenameblock">
                                        <h1 id="GroupName" class="text-dark ">Tên nhóm</h1>
                                        <p id="pri">Nhóm công khai</p>
                                        <p id="description">Bất kỳ ai cũng có thể vào nhóm , đăng bài và tương tác với các bài viết bên trong nhóm </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            @{
                if (actionresult != null && actionresult.Code == 1 && !string.IsNullOrEmpty(actionresult.Msg))
                {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@actionresult.Msg</strong>
                    </div>
                }
                else if (actionresult != null && actionresult.Code == 0 && !string.IsNullOrEmpty(actionresult.Msg))
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@actionresult.Msg</strong>
                    </div>
                }
            }
        </div>

    </div>
</div>



@section Scripts
{
    <script>
        $('input#groupnameinput').on('input', function () {

            $('h1#GroupName').text($(this).val()); // Update text of #GroupName on input change
        });
        $('select#privacymodeSelect').on('change', function () {
            var selectedOption = $(this).val();
            var selectedText = $(this).find('option:selected').text();

            $('p#privacymode').text(selectedText);
            if (selectedOption == 2) {
                $('p#pri').text("Nhóm công khai");
                $('p#description').text("Bất Kỳ Ai cũng có thể xem bài viết và comment bài viết bên trong group");
            }
            else {
                $('p#pri').text("Nhóm riêng tư");
                $('p#description').text("Chỉ có thành viên bên trong group mới có thể tương tác");
            }

        });
        $(document).ready(() => {

            function handleFileInputEditChange(inputSelector, outputSelector) {

                const photoInp = $(inputSelector);
                let files = [];
                photoInp.change(function (e) {
                    files = [];
                    $(outputSelector).empty();
                    for (let i = 0; i < this.files.length; i++) {
                        const file = this.files[i];
                        files.push(file);
                        const reader = new FileReader();
                        reader.onload = function (event) {

                            $(outputSelector).attr({ 'style': 'background-image:' + `url('${event.target.result}')` });
                        };
                        reader.readAsDataURL(file);
                    }
                });
            }
            handleFileInputEditChange("#upload_wall_group_image", "#image_group_wall_showimage");
        });
    </script>
}

