﻿@model Core.GroupEx

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    var user = new Core.UserEntity();
    var check = ViewData["Check"] as Core.UserInGroup;
    if (User.Identity.IsAuthenticated)
    {
        user = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
    }
}
<div class="col-md-2">
    <div id="sidebar">
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="container">
            <div class="card">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12 wallpaper" style="height:633px">
                            <!--Ảnh bìa-->
                            <div id="image_group_wall_showimage" class="card bgimg" style="background-image: url('@Model.GrouPicture');">
                            </div>
                            <div class="card-body box-profile">
                                <div class="row groupwall">
                                    <!--Họ và tên-->
                                    <div class="col-md-9 profilenameblock">
                                        <h1 id="GroupName" class="text-dark ">@Model.GroupName</h1>
                                        @if (Model.PrivacyMode == 0)
                                        {
                                            <p id="pri">Nhóm riêng tư</p>
                                            <p id="description">Vào nhóm phải qua kiểm duyệt , chỉ có thành viên mới đăng bài và tương tác với các bài viết bên trong nhóm </p>
                                        }
                                        else
                                        {
                                            <p id="pri">Nhóm công khai</p>
                                            <p id="description">Bất kỳ ai cũng có thể vào nhóm , đăng bài và tương tác với các bài viết bên trong nhóm </p>
                                        }
                                    </div>
                                    <div class="col-md-3 profilenameblock">
                                        @if (Model.SuperAdmin != user.UserId)
                                        {
                                            <div class="mt-3 pb-3 mb-3 d-flex">
                                                @if (Model.UserInGroup.Status == Data.StatusGroup.IsRequest)
                                                {
                                                    <div class="dropdown side-bar-status">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Đang chờ trả lời
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <div class="dropdown-item">
                                                                <a data-href="/UserInGroup/LeftOut/@Model.GroupID/@user.UserId/@Model.SuperAdmin" data-height="300" data-width="400" class="popup-link btn btn-warning">Hủy</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.UserInGroup.Status == Data.StatusGroup.IsUserInGroup)
                                                {
                                                    <div class="dropdown side-bar-status">
                                                        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Đã tham gia
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <div class="dropdown-item">
                                                                <a data-href="/UserInGroup/LeftOut/@Model.GroupID/@user.UserId/@Model.SuperAdmin" data-height="300" data-width="400" class="popup-link btn btn-danger">Rời khỏi</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.UserInGroup.GroupID == 0)
                                                {
                                                    <button onclick='GroupAction(@user.UserId, @Model.GroupID, @Data.StatusGroup.IsRequest, "Add")' class="btn btn-primary side-bar-status">Tham gia</button>
                                                }
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-md-4">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h3 class="profile-username text-center">Quản trị viên cao nhất</h3>
                            <div class="col">
                                <div class="row">
                                    <p class="text-muted text-center">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="@Model.Avartar" alt="User Image">
                                            <span class="username mt-2">
                                                <a href="/User/Index/@Model.SuperAdmin">@Model.UserFirstName @Model.UserLastName</a>
                                            </span>

                                        </div>
                                    </p>
                          
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        @if (Model.SuperAdmin == user.UserId)
                                        {
                                         <p class="text-center text-muted">   <a class="popup-link " data-height="300" data-width="1125" data-href="/Group/Edit/@Model.GroupID">Chỉnh sửa thông tin Nhóm </a></p>
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-muted text-center"><a class="popup-link" data-height="500" data-width="1000" data-href="/UserInGroup/ListTable/@Model.GroupID">Danh sách thành viên</a></p>
                                    </div>
                              
                                  
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!--<div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Nội dung, nội quy nhóm</h3>
                        </div>-->
                        <!-- /.card-header -->
                        <!--<div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Education</strong>
                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">Malibu, California</p>
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                            <p class="text-muted">
                                <span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>
                            </p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                        </div>-->
                        <!-- /.card-body -->
                    <!--</div>-->
                </div>
                @if (Model.PrivacyMode == 0)
                {
                    if (check.Status == 2)
                    {
                        <div class="col-md-8">
                            @Html.Partial("~/Views/Post/PartialView/AddPost.cshtml")
                            <div id="post"></div>
                        </div>
                    }

                }
                else
                {
            <div class="col-md-8">
                @Html.Partial("~/Views/Post/PartialView/AddPost.cshtml")
                <div id="post"></div>
            </div>
                }

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
       let data = {
           id:@Model.GroupID,
       }
        postPageContentV2("#sidebar", '/Group/SideBarGroup', data);
        page = 1;
        let datapost = {
        Page: page,
        PageSize: 10,
        GroupID:@Model.GroupID,
        UserId: @user.UserId,
        postType:@Core.PostType.InSideGroupPost,
        PrivacyMode: 2
    }
        Layzyload(datapost);
    </script>

}





