﻿@model Core.GroupPaginationResult

@{
    ViewBag.Title = "GroupJoinedList";
    Layout = "~/Views/Shared/_LayoutPartialView.cshtml";
}
@if (Model.Data.Count > 0)
{
    foreach (var item in Model.Data)
    {
        <li class="nav-item">

            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@item.GrouPicture" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="/Group/Get/@item.GroupID" class="d-block">@item.GroupName</a>
                </div>
            </div>

        </li>
    }
}
else
{

}