﻿@model Core.GroupEx
@{
    ViewBag.Title = "Nhóm";
    Layout = "~/Views/Shared/_LayoutGroup.cshtml";
    var user = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
}
<div class="row">
    <div class="col-md-2">
        <div id="sidebar">

        </div>
    </div>
    <div class="col-md-8 mt-2">
        <div class="container">
            <div id="post">
                <!-- Nội dung của bạn ở đây -->
            </div>

        </div>
    </div>
</div>

@section Scripts
{

    <script>
        postPageContentV2("#sidebar", '/Group/SideBarGroup');
        page = 1;
        let datapost = {
        Page: page,
        PageSize: 10,
        GroupID:0,
        UserId: @user.UserId,
        postType:@Core.PostType.GroupIndexPost,
        PrivacyMode: 2
        }
        Layzyload(datapost);


    </script>
}

