﻿
@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    var user = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);

}


        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@user.Avartar" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@user.UserFirstName @user.UserLastName</a>
            </div>
        </div>

        <form action="/Group/Add" method="post" enctype="multipart/form-data">
        
            <input name="GroupName" id="groupnameinput" class="form-control form-control-sidebar" type="text" placeholder="Tên Nhóm">
            <div class="mb-2 mt-2 nav-header">
                <label>Quyền Riêng Tư</label>
            </div>
            <div class="mb-2 nav-item">
                <select name="PrivacyMode" id="privacymodeSelect" class="form-control-sidebar custom-select form-control-border">
                    <option value="2">Công Khai</option>
                    <option value="0">Riêng Tư</option>
                </select>
            </div>
            <div class="mb-2 mt-2 nav-header">
                <label>Ảnh bìa</label>
            </div>
            <div class="mb-2 nav-item">
                <input type="file" id="upload_wall_group_image" name="wall" />
            </div>
            <div class="mb-2 nav-header"><button class="btn-submit btn btn-dark"> <i class="nav-icon fas fa-plus"></i> Tạo Nhóm</button></div>
        </form>

        <script>
            $('input#groupnameinput').on('input', function () {
                $('.btn-submit').prop('disabled', false);
                $('h1#GroupName').text($(this).val()); // Update text of #GroupName on input change
            });
            $('select#privacymodeSelect').on('change', function () {
                var selectedOption = $(this).val();
                var selectedText = $(this).find('option:selected').text();

                $('p#privacymode').text(selectedText);
                if (selectedOption == 2) {
                    $('p#pri').text("Nhóm công khai");
                    $('p#description').text("Bất Kỳ Ai cũng có thể xem bài viết và comment bài viết bên trong group");
                }
                else {
                    $('p#pri').text("Nhóm riêng tư");
                    $('p#description').text("Chỉ có thành viên bên trong group mới có thể tương tác");
                }

            });
            $(document).ready(() => {

                function handleFileInputEditChange(inputSelector, outputSelector) {

                    const photoInp = $(inputSelector);
                    let files = [];
                    photoInp.change(function (e) {
                        files = [];
                        $(outputSelector).empty();
                        for (let i = 0; i < this.files.length; i++) {
                            const file = this.files[i];
                            files.push(file);
                            const reader = new FileReader();
                            reader.onload = function (event) {

                                $(outputSelector).attr({ 'style': 'background-image:' + `url('${event.target.result}')` });
                            };
                            reader.readAsDataURL(file);
                        }
                    });
                }
                handleFileInputEditChange("#upload_wall_group_image", "#image_group_wall_showimage");
            });
            $(document).ready(function () {
                $('.btn-submit').on('click', function () {
                    $(this).prop('disabled', true); // Vô hiệu hóa nút submit
                    // Gửi biểu mẫu bằng JavaScript
                    $(this).closest('form').submit();
                });
            });
        </script>
