﻿@model Core.GroupEx


@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    var user = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name);
    var GroupJoined = ViewData["GroupJoined"] as Core.GroupPaginationResult;

}


@if (User.Identity.IsAuthenticated)
{
    if (Model.GroupID != 0)
    {
        <style>
            body .dropdown-menu {
                min-width: 7.5rem;
            }
        </style>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Model.GrouPicture" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a>@Model.GroupName</a>
            </div>

        </div>
        @*<div class="mt-3 pb-3 mb-3 d-flex ml-3">
            @if (Model.UserInGroup.Status == Data.StatusGroup.IsRequest)
            {
                <div class="dropdown side-bar-status">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Đang chờ trả lời
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">
                            <a data-href="/UserInGroup/LeftOut/@Model.GroupID/@user.UserId/@Model.SuperAdmin" data-height="300" data-width="400" class="popup-link btn btn-warning">Hủy</a>
                        </div>
                    </div>
                </div>
            }
            @if (Model.UserInGroup.Status == Data.StatusGroup.IsUserInGroup)
            {
                <div class="dropdown side-bar-status">
                        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Đã tham gia
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item">
                                <a data-href="/UserInGroup/LeftOut/@Model.GroupID/@user.UserId/@Model.SuperAdmin" data-height="300" data-width="400" class="popup-link btn btn-danger">Rời khỏi</a>
                            </div>
                        </div>
                </div>
            }
            @if (Model.UserInGroup.GroupID == 0)
            {
                <button style="max-width:244px" onclick='GroupAction(@user.UserId, @Model.GroupID, @Data.StatusGroup.IsRequest, "Add")' class="btn btn-primary side-bar-status">Tham gia</button>
            }
        </div>*@
    }

    else
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@user.Avartar" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/User/Index/@user.UserId" class="d-block">@user.UserFirstName @user.UserLastName</a>
            </div>
        </div>
    }
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="max-width:200px">

            <li class="nav-item">
                <a href="/Group/Add" class="nav-link">
                    <i class="nav-icon far fa-plus"></i>
                    <p>
                        Tạo nhóm
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="mt-2">
        <ul class="navbar-nav mr-auto justify-content-center flex-grow-1" data-widget="treeview" role="menu" data-accordion="false" style="max-width:200px">
            <li class="nav-item" style="margin-left: 20px;">
                <a href="#" class="nav-link">
                 
                    <p>
                        Nhóm đã tham gia
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <div style="margin-bottom: 50px; overflow-y: auto; max-height: 500px; width: 270px; overflow-x: hidden;" >
                    <ul class="nav flex-column" id="groupjoinedlist">
                        @foreach (var item in GroupJoined.Data)
                        {
                            <li class="nav-item">
                                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                    <div class="image">
                                        <img src="@item.GrouPicture" class="img-circle elevation-2" alt="User Image">
                                    </div>
                                    <div class="info">
                                        <a href="/Group/Get/@item.GroupID" class="d-block">@item.GroupName</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            <li class="nav-item" id="viewallgroup">
                <a style="padding-top:20px" onclick="ViewAllGroup(@user.UserId)" class="btn btn-outline-light nav-link">
                    <p>Xem tất cả</p>
                </a>
            </li>
        </ul>
    </nav>

}
