﻿@model Core.Message.DeleteMesssage
@{
    ViewBag.Title = "Cảnh Báo";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var id = ViewData["IDMess"];
}

<div class="alert alert-danger alert-dismissible">
    <strong>Xóa tin nhắn với bạn ?</strong>
</div>
@section dialogFooter {
    <div class="row">
        <div class="col-md-5">
            <button type="button" class="btn" data-dismiss="modal">Hủy</button>
        </div>
        <div class="col-md-5">
            <button type="button" onclick="DeleteMessageOnly(@id)" class="btn-submit btn btn-danger">Xóa</button>
        </div>
    </div>
}



