﻿@model Core.Message.DeleteConverSation

@{
    ViewBag.Title = "Cảnh Báo";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var id = ViewData["IDConverSation"];
}

<div class="alert alert-danger alert-dismissible">
    <strong>Xóa cuộc trò chuyện</strong>
</div>
@section dialogFooter {
    <div class="row">
        <div class="col-md-5">
            <button type="button" class="btn" data-dismiss="modal">Hủy</button>
        </div>
        <div class="col-md-5">
            <button type="button" onclick="DeleteConverSation(@id)" class="btn btn-danger">Xóa</button>
        </div>
    </div>
}


