﻿@model Core.Comment

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    var actioresult = ViewData["ActionResult"] as clonemxh.Helper.ApiResult;
    ViewBag.Title = "Cảnh báo";

}
@if (actioresult != null)
{
    if (actioresult != null && actioresult.Code == -1 && !string.IsNullOrEmpty(actioresult.Msg))
    {
        <p class="login-box-msg p-0 bg-danger">@actioresult.Msg</p>
    }
}
else
{
    <div class="alert alert-danger alert-dismissible">
        <strong>Xóa bình luận ?</strong>
    </div>
    @section dialogFooter {
        <div class="row">
            <div class="col-md-5">
                <button type="button" class="btn" data-dismiss="modal">Hủy</button>
            </div>
            <div class="col-md-5">
                <button type="button" onclick="DeleteComment(@Model.CommentID,@Model.PostID)" class="btn-submit btn btn-danger">Xóa</button>
            </div>
        </div>
    }

}
