﻿@model Core.Comment

@{
    Layout = "~/Views/Shared/_LayoutPartialView.cshtml";
    var actioresult = ViewData["ActionResult"] as clonemxh.Helper.ApiResult;
    var userid = 0;
    if (User.Identity.IsAuthenticated)
    {
        userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
}
<div class="input-group input-group-sm mb-0">
    <input class="form-control form-control-sm" id="inputeditcomment@(Model.CommentID)" name="Content" value="@Model.Content" data-id="@Model.CommentID" data-parentid="@Model.ParentID" type="text" placeholder="Viết bình luận">
    <div class="input-group-append">
        <button type="button" onclick="UpdateComment(@Model.CommentID)" data-id="@Model.CommentID" data-parentid="0" class="btn-submit btn btn-primary">Chỉnh sửa</button>
        <button type="button"  onclick="CancelComment(@Model.CommentID)" id="btncancel" data-id="@Model.CommentID" data-parentid="0" class="btn btn-danger">Hủy</button>
    </div>
</div>