﻿@model Core.CommentPaginationResult
@{
    Layout = "~/Views/Shared/_LayoutPartialView.cshtml";
    var actioresult = ViewData["ActionResult"] as clonemxh.Helper.ApiResult;
    var userid = 0;
    if (User.Identity.IsAuthenticated)
    {
        userid = clonemxh.Helper.CookieHelper.CookieToStringUsers(User.Identity.Name).UserId;
    }
}

@if (Model.Data.Count > 0)
{


    foreach (var item in Model.Data)
    {
        <div id="comment-block@(item.CommentID)" style="padding:10px 10px 10px 10px">
            <div class="card-comment">
                <img class="img-circle img-sm" src="@item.Avartar" alt="User Image">
                <span class="text-muted ml-2 float-right">@item.TimeSpan</span>
                @if (item.UserId == userid || Model.RoleID==1)
                {
                    <span class="text-muted ml-2 float-right">

                        <a class=" ml-2 btn-tool  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </a>
                 
                            <div class="dropdown-menu">
                                @if (item.UserId == userid)
                                {
                                    <a onclick="EditComment(@item.CommentID)" style="cursor: pointer;" id="btnEdit" data-id="@item.CommentID" class="dropdown-Model">Chỉnh sửa</a>
                                }

                                <a data-href="/Comment/Delete/@item.CommentID" data-height="300" data-width="400" style="cursor: pointer" class="popup-link dropdown-Model">Xóa bình luận</a>
                            </div>
                        

                    </span>
                }
                <div class="comment-text">
                    <span class="username">
                        @item.UserFirstName @item.UserLastName
                    </span>
                    <div class="comment-content@(item.CommentID)">
                        @item.Content
                    </div>
                </div>
                <div>
                    
                    <a onclick="RepComment(@item.PostID,@item.CommentID,@item.ParentID)" class="text-muted ml-5 float-left" aria-haspopup="true" aria-expanded="false">
                        Trả lời
                    </a>

                </div>
                <div class="repcomment@(item.CommentID)" style="padding-left:10px; margin-top:30px">

                </div>
                @if (item.ParentID == 0 && item.RepCommentCount >0)
                {
                    <a onclick="LoadRepComment(@item.PostID,@item.CommentID)" class="text-muted ml-5 float-left loadrep@(item.CommentID) " aria-haspopup="true" aria-expanded="false">
                        Xem thêm trả lời
                    </a>
                }
                <div class="repcommentform@(item.CommentID)">
                </div>

            </div>
        </div>
    }

}

